@import url('');

body {
	background-color: #191919;
}

@font-face {
	font-family: Akzidenz-Grotesk BQ Bold Extended;
    src: url(../fonts/AkzidenzGrotesk-BoldExtended.otf);
}

@font-face {
	font-family: Akzidenz-Grotesk BQ Medium Extended;
    src: url(../fonts/AkzidenzGrotesk-MediumExtended.otf);
}

@font-face {
	font-family: Akzidenz-Grotesk BQ Regular;
	src: url(../fonts/AkzidenzGrotesk-Regular.otf);
}

@font-face {
	font-family: Akzidenz-Grotesk BQ Medium;
	src: url(../fonts/AkzidenzGrotesk-Medium.otf);
}

@font-face {
	font-family: Project Colony;
	src: url(../fonts/ProjectColonyGX.ttf);
}

nav{
	border-top: 7px solid magenta;
	text-align: right;
	background-color: white;
	margin-top: -12px;
	margin-left: -8px;
	margin-right: -8px;
}

nav h3 {
	color: #191919;
	padding: 1em;
	padding-right: 5%;
	padding-left: 0px;
}

nav a {
	text-decoration: none !important;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 2em;
	padding-bottom: 2em;
	margin-left: -.2em;
	margin-right: -.2em;
	transition: background-color 0.3s;
	border-radius: 5px;
}

nav a:hover {
	background-color: magenta;
	transition: background-color 0.3s;
}

nav a:visited {
	text-decoration: none !important;
	color: #191919;
}

main {
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 50px;
	margin-bottom: 50px;
}

h1 {
	font-family: Project Colony, Akzidenz-Grotesk BQ Bold Extended;
	/*font-family: Akzidenz-Grotesk BQ Bold Extended;*/
	font-size: 2em;
	/*font-weight: normal;*/
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: white;
	line-height: .75em;
}

h2 {
	font-family: Project Colony;
	/*font-family: Akzidenz-Grotesk BQ Medium Extended;*/
	font-size: 1.5em;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #191919;
}

h3 {
	font-family: Project Colony;
	/*font-family: Akzidenz-Grotesk BQ Medium Extended;*/
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: #191919;
}

h4 {
	font-family: Project Colony;
	/*font-family: Akzidenz-Grotesk BQ Medium Extended;*/
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: gray;
	line-height: 1em;
}

p {
	font-family: Akzidenz-Grotesk BQ Regular;
	letter-spacing: 0.02em;
	line-height: 1.3em;
}

hr {
	height: 20px;
	border: 0px;
}

.divider {
	border-top: 1px solid #191919;
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
}

#main-head h1 {
	letter-spacing: 0.075em;
}

#nav-content {
	margin-top: -12px;
}

/*--------------- MEDIA QUERIES ---------------*/

@media screen and (max-width: 659px) {

	.feature {
		max-width: 100% !important;
	}

	#feature-img {
		width: 100%;
	}

	#feature-text p {
		max-width: 100% !important;
	}

	#filter a {
  		display: block !important;
  		margin-right: 0px !important;
  	}

	.banner {
		top: -12px !important;
		height: 12px;
	}

	.post {
	    max-width: none !important;
	}

	.post-text .banner:nth-child(2n) {
    	top: -24px !important;
	}

	.post-text .banner:nth-child(3n) {
		top: -36px !important;
	}

	#article-text-container .banner:nth-child(2n) {
		top: -24px !important;
	}

	#article-text-container .banner:nth-child(3n) {
		top: -36px !important;
	}

	.banner h3 {
		visibility: hidden;
	}

	.post-img-container {
    	height: 110px !important;
    }
}

@media screen and (min-width: 1200px) {
  	
  	nav h3{
  		padding-left: 0px;
  		padding-right: 0px;
  	}

  	.logo {
  		left: -10px !important;
  	}

  	#nav-content {
  		max-width: 1080px;
  		margin-left: auto;
  		margin-right: auto;
  	}

  	main {
  		max-width: 1080px;
  		margin-left: auto;
  		margin-right: auto;
  	}

	.post-img-container {
    	height: 252px !important;
    }
}

/*--------------- BUTTONS ---------------*/

.button-link a, a:link, a:visited, a:active, a:-webkit-any-link {
	text-decoration: none !important;
}

.button-link a {
	font-size: 12px;
}

.button-link {
	font-family: Project Colony;
	/*font-family: Akzidenz-Grotesk BQ Medium Extended;*/
	font-size: 12px;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	color: white;
	background-color: #191919;
	border-radius: 5px;
	padding-left: 1em;
	padding-right: 1em;
	padding-top: 10px;
	padding-bottom: 10px;
	border:none;
	box-shadow: 0px 0px 0px transparent;
	transition: background-color 0.3s;
}

.button-link:hover {
	background-color: magenta;
	transition: background-color 0.3s;
}

.button-link a:visited {
	color: white;
}

/*--------------- LOGO ---------------*/

.logo {
	float: left;
	position: relative;
	height: 10px;
	width: 10px;
	left: 5%;
}

#logo {
	width: 14px;
}

.subhead {
	color: white;
	margin-top: -15px;
	margin-bottom: 50px;
}

.post-flex {
	margin: -10px;
	display: flex;
	flex-wrap: wrap;
}

.post-flex > .post {
	flex: 1 1 30%;
}

/*--------------- FEATURE ---------------*/

#info {
	max-width: 33%;
}

.feature {
	max-width: 66%;
}

.feature p {
	color: #191919;
}

#feature-img {
	vertical-align: middle;
	object-fit: cover;
	min-width: 100%;
  	max-height: 300px;
  	margin: auto;
	border-radius: 10px 10px 0px 0px;
}

.feature-banner h3 {
	padding-left: 50px;
	padding-top: 1.5em;
    padding-bottom: .8em;
}

#feature-text-container, #article-text-container {
	position: relative;
	background-color: white;
	border-radius: 0px 0px 10px 10px;
}

#feature-text-container {
	padding-bottom: 24px;
}

#article-text-container {
	position: relative;
	padding-top: 1em;
	padding-bottom: 2em;
}

#feature-text {
	padding-top: 1em;
	margin-left: 2em;
	margin-right: 2em;
}

.lead-in {
	font-family: Akzidenz-Grotesk BQ Medium;
	font-size: 18px;
}

#feature-text p {
	max-width: 70%;
}

#feature-text h2 {
	max-width: 80%;
	margin-bottom: -10px;
}

#feature-text h4 {
	max-width: 80%;
	margin-bottom: 30px;
}

#feature-button {
	background-color: white;
	color: #191919;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*--------------- ARTICLE ---------------*/

#article-text {
	margin-left: 3em;
	margin-right: 3em;
}

#article-text a, a:link, a:visited, a:active, a:-webkit-any-link {
	text-decoration: none !important;
	color: #191919;
}

#article-text h1 {
	max-width: 550px;
	color: #191919;
}

#article-text h4 {
	max-width: 70%;
	margin-bottom: -12px;
}

#article-margin {
	margin: 5%;
}

#article-margin p {
	max-width: 550px;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: .7em;
}

.article-image {
	text-align: center;
	margin-left: -5%;
    margin-right: -5%;
}

.article-image img{
	padding-top: 2em;
	padding-bottom: 2em;
	object-fit: contain;
	max-height: 100%;
    width: 100%;
    margin: auto;
}

#article-source a {
	color: magenta !important;
}

.answer {
	margin-bottom: 1em;
	margin-top: -1em;
}

/*--------------- FILTER ---------------*/

#filter {
	margin-top: 4em;
	margin-bottom: 2em;
}

#filter a {
	margin-right: .3em;
	margin-top: 0.8em;
    display: inline-block;
}

/*--------------- POSTS ---------------*/

.post {
	margin: 10px;
	margin-bottom: 10px;
	width: 25vw;
	background: white;
    border-radius: 11px;
    max-width: 31%;
}

.feature img, .post img {
	transition: all .5s;
	filter: grayscale(100%);
}

.post-img {
	object-fit: cover;
	max-width: 100%;
  	/*min-height: 150px;*/
}

.post-img-container {
	width: 100%;
	height: 21vw;
	overflow: hidden;
	border-radius: 10px 10px 0px 0px;
	display: inline-flex;
}

.feature:hover img, .post:hover img {
	/*opacity: .5;*/
	filter: grayscale(0%);
	transition: all .5s;
}

.post-text {
	position: relative;
	background-color: white;
	margin-top: -17px;
	/*height: 62px;*/
	border-radius: 0px 0px 10px 10px;
	padding-bottom: 1px;
}

.post-text h3 {
	/*padding-top: 1em;
	margin: 1em;*/
	padding-top: 14px;
    padding-bottom: 4px;
    font-size: 16px;
    margin: 12px;
}

.post-text h4 {
	margin-left: 1em;
	margin-right: 1em;
	margin-top: -3px;
}

.post-text p {
	margin: 1em;
}

/*--------------- BANNER TAGS ---------------*/

.post-text .banner:nth-child(2n) {
	top: -76px;
}

.post-text .banner:nth-child(3n) {
	top: -114px;
}

#article-text-container .banner:nth-child(2n) {
	top: -76px;
}

#article-text-container .banner:nth-child(3n) {
	top: -114px;
}

.banner {
	position: absolute;
	top: -38px;
	width: 100%;
	/*background-color: magenta;*/
}

.banner h3 {
	font-family: Project Colony;
	/*font-weight: normal;*/
	margin-top: 0px;
	/*color: white;*/
    font-size: 9px;
    opacity: 0.7;
}

.interview {
	background-color: red;
}

.interview h3 {
	color: #191919;
}

.movies {
	background-color: yellow;
}

.movies h3 {
	color: #191919;
}

.music {
	background-color: orange;
}

.music h3 {
	color: #191919;
}

.typography {
	background-color: lime;
}

.typography h3{
	color: #191919;
}

.literature {
	background-color: aqua;
}

.literature h3{
	color: #191919;
}

.branding {
	background-color: magenta;
}

.branding h3{
	color: #191919;
}

/*--------------- ARCHIVE ---------------*/

#archive-h1 {
	margin-bottom: 1em;
}

/*--------------- ABOUT ---------------*/

.about-content {
	background: white;
	border-radius: 10px;
	width: 50%;
}

#about-text {
	padding: 1em;
	margin: 1em;
}

#about-text .button-link {
	color: white;
}

/*--------------- FOOTER ---------------*/

.footer {
	color: white;
	padding-bottom: 1.5em;
}

#footer {
	text-align: center;
}

#footer p {
	text-align: left;
	color: gray;
	font-size: 9px;
	line-height: 1.5;
}

#footer-button {
	background-color: white;
	color: #191919;
	transition: background-color 0.3s;
}

#footer-button:hover {
	background-color: magenta;
	color: white;
	transition: background-color 0.3s;
}




/*--------------- ANIMATION ---------------*/

.post:hover {
	position:relative;
    left: 0px; top:-5px;
    animation:post-sel .5s;
    -moz-animation:post-sel .5s;
    -webkit-animation:post-sel .5s;
}

.post:hover h3 {
	/*font-family: Akzidenz-Grotesk BQ Bold Extended;*/
}

@keyframes post-sel {
    from {top: 0px;} 
    to{top:-5px;} 
}
@-moz-keyframes post-sel {
    from {top: 0px;} 
    to{top:-5px;} 
}
@-webkit-keyframes post-sel {
    from {top: 0px;} 
    to{top:-5px;} 
}

.post {
	position:relative;
    left: 0px; top:0px;
    animation:post-sel-back .5s;
    -moz-animation:post-sel-back .5s;
    -webkit-animation:post-sel-back .5s;
}
@keyframes post-sel-back {
    from {top: -5px;} 
    to{top:0px;} 
}
@-moz-keyframes post-sel-back {
    from {top: -5px;} 
    to{top:0px;} 
}
@-webkit-keyframes post-sel-back {
    from {top: -5px;} 
    to{top:0px;} 
}




/*--------------- FILTER ---------------*/

.filter-button {
	cursor: pointer;
}

#filter a {
	color: #191919 !important;
}

.post {
	display: none !important; /* Hidden by default */
}

/* The "show" class is added to the filtered elements */
.show {
	display: flex !important;
}

.filter-button.active {
  background-color: white !important;
  color: #191919 !important;
}

.active:hover {
	background-color: magenta !important;
}































